# Do not version track the following types of files #
#####################################################

# General files
*.RData
*.Rhistory
*.Rout
.DS_Store
*.aux
*.bbl
*.blg
cache/*
figure/*
*.gz
*.html
*.log
*.nav
*.out
*.pdf
*.png
*.snm
*.tex
*.toc
*.vrb

*.pdf
*.html

# Specific files
Packages.bib
Website.md